@{
    ViewData["Title"] = "OKRs";
}

<ul>
    <li>
        <a asp-controller="Objective" asp-action="Index">My objectives</a>
    </li>
    <li>
        <a asp-controller="Objective" asp-action="All">Objectives for all users</a>
    </li>
</ul>
